<html>
<head>
  <title>Perspetivas em Bioinformática</title>

  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  <h1>{{ title }}</h1>
  <time>{{ date }}</time>
  {{{ contents }}}
</body>
</html>
